.env
*/*.xml
*.xml
*/*.iml
*.idea
/2_recbole/saved/BPR_best/BPR-Jan-22-2026_21-11-15.pth
/2_recbole/preds/full/BPR_BPR_best.tsv
/2_recbole/preds/top1/BPR_BPR_best.tsv
/2_recbole/preds/top2/BPR_BPR_best.tsv
/2_recbole/preds/top3/BPR_BPR_best.tsv
/2_recbole/preds/top5/BPR_BPR_best.tsv
/2_recbole/preds/top10/BPR_BPR_best.tsv
/2_recbole/saved/LightGCN_best/LightGCN-Jan-22-2026_21-18-39.pth
/2_recbole/preds/full/LightGCN_LightGCN_best.tsv
/2_recbole/preds/top1/LightGCN_LightGCN_best.tsv
/2_recbole/preds/top2/LightGCN_LightGCN_best.tsv
/2_recbole/preds/top3/LightGCN_LightGCN_best.tsv
/2_recbole/preds/top5/LightGCN_LightGCN_best.tsv
/2_recbole/preds/top10/LightGCN_LightGCN_best.tsv
